<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dCorp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0-alpha2-dist/css/bootstrap.min.css') }}"> -->
    <!-- <script src="{{url_for('static', filename='bootstrap-5.3.0-alpha2-dist/js/bootstrap.min.js')}}"></script> -->
    <style>
        .login {
            right: 0;
            position: fixed;
            border-radius: 30px;
            border: 2px solid white;
            padding: 10px;
            margin: 30px;
            text-align: center;
        }
        .login:hover {
            background-color: white;
            color: black;
        }
    </style>
    {% endblock %}
</head>

<body>
    <header>
        <div class="header_options bank-name"><a href="/">dCorp</a></div>
        <div class="header_options"><a href="/dashboard">Home</a></div>
        <div class="header_options">About us</div>
        {% block more_header %} {% endblock %}
        {% if not indexhai %}
            <div class="header_options login" id="login_header" style="position:absolute; right:0;">Sign out</div>
        {% endif %}
    </header>
    <div class="main">
        {% block main %}
        {% endblock %}
    </div>
</body>
{% block below_body %}
{% endblock %}
</html>
