{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='complaint.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
{% endblock %}

{% block more_header %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="container">
    {% if success %}
    <div class="alert alert-success" role="alert">
        Created the Ticket
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
        Some error occured while creating the ticket
    </div>
    {% endif %}
    <select class="form-select mb-3" onchange="complaint_select(this);" aria-label="Default select example">
        <option value="1" selected>New Ticket</option>
        <option value="2">Track Ticket</option>
    </select>
    <form class="complaint-form-new" action="/new-ticket" method="post">
        <div class="mb-3">
            <label for="complaint-form-new-subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="complaint-form-new-subject" name="subject">
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="complaint-form-new-body"
                style="height: 200px" name="body"></textarea>
            <label for="complaint-form-new-body">Body of complaint</label>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" onclick="complaint_submit(this);">
    </form>
    <div class="complaint-form-track">
        <table id="data" class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Ticket ID</th>
                    <th>Subject</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in complaints %}
                <tr onclick="complaint_reply(this);" tid="{{ ticket['TICKET_ID'] }}"
                sub="{{ ticket['SUBJECT'] }}"
                status="{{ ticket['STATUS'] }}"
                bdy="{{ ticket['BODY'] }}" 
                rpy  = "{{ ticket['REPLY'] }}">
                    <td data-sort="{{ticket['TIME']}}">
                        {{ ticket['TIME'].strftime('%H:%M') }}
                    </td>
                    <td>{{ ticket['TIME'].strftime('%Y-%m-%d') }}</td>
                    <td>{{ ticket['TICKET_ID'] }}</td>
                    <td>{{ ticket['SUBJECT'] }}</td>
                    <td>{{ ticket['STATUS'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="complaint-form-reply">
        <button type="button" class="btn btn-primary mt-3 mb-3" onclick="complaint_goback(this);">Back</button>
        <div class="mb-3">
            <label for="complaint-form-reply-status" class="form-label">Status</label>
            <input type="text" class="form-control bg-white" id="complaint-form-reply-status" disabled>
        </div>
        <div class="mb-3">
            <label for="complaint-form-reply-subject" class="form-label">Subject</label>
            <input type="text" class="form-control bg-white" id="complaint-form-reply-subject" name="subject" disabled>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control bg-white" placeholder="Leave a comment here" id="complaint-form-reply-body"
                style="height: 200px" name="body" disabled></textarea>
            <label for="complaint-form-reply-body">Body of complaint</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control bg-white"  id="complaint-form-reply-reply"
                style="height: 200px" name="body" disabled></textarea>
            <label for="complaint-form-reply-reply">Reply</label>
        </div>
    </div>
</div>
{% endblock %}

{% block below_body %}
<script>
    function complaint_select(e) {
        let select = e;
        if (select.value == "1") {
            document.getElementsByClassName("complaint-form-new")[0].style.display = "initial";
            document.getElementsByClassName("complaint-form-track")[0].style.display = "none";
            document.getElementsByClassName("complaint-form-reply")[0].style.display = "none";
        }
        else if (select.value == "2") {
            document.getElementsByClassName("complaint-form-new")[0].style.display = "none";
            document.getElementsByClassName("complaint-form-track")[0].style.display = "initial";
            document.getElementsByClassName("complaint-form-reply")[0].style.display = "none";
        }
    }

    document.getElementsByClassName("complaint-form-track")[0].style.display = "none";
    document.getElementsByClassName("complaint-form-reply")[0].style.display = "none";

    function complaint_reply(e){
        document.getElementById("complaint-form-reply-subject").value = e.getAttribute("sub")
        document.getElementById("complaint-form-reply-body").value = e.getAttribute("bdy")
        document.getElementById("complaint-form-reply-subject").value = e.getAttribute("sub")
        document.getElementById("complaint-form-reply-status").value = e.getAttribute("status")
        document.getElementById("complaint-form-reply-reply").value = e.getAttribute("rpy")
        document.getElementsByClassName("complaint-form-track")[0].style.display = "none"
        document.getElementsByClassName("complaint-form-reply")[0].style.display = "initial";
    }

    function complaint_goback(e){
        document.getElementsByClassName("complaint-form-track")[0].style.display = "initial"
        document.getElementsByClassName("complaint-form-reply")[0].style.display = "none";
    }
</script>
{% endblock %}