{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='election.css') }}">
{% endblock %}

{% block more_header %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="container" style="margin-top:50px;">
    <h1>Vote in election</h1>
    {% if success %}
    <div class="alert alert-success" role="alert">
    {{ success }}
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
    {% endif %}
    {% if info %}
    <div class="alert alert-info" role="alert">
    {{ info }}
    </div>
    {% endif %}

<form method="post">
    <select class="form-select" aria-label="Default select example" name="candidate">
        <option selected>Candidate Name</option>
        {% for cid, cname in candidates %}
        <option value="{{ cid }}">{{ cname }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="password" class="form-control" id="election_stand_password" name="password">
    <br>
    <button type="submit" class="btn btn-primary" name="vote" {% if info %}disabled readonly{% endif %}>Vote</button>
</form>

</div>
{% endblock %}


{% block below_body %}
{% endblock %}