{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='election.css') }}">
{% endblock %}

{% block more_header %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="container" style="margin-top:50px;">
    <h1>Enlist to contest elections</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
    {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success" role="alert">
    {{ success }}
    </div>
    {% endif %}
    {% if unlisted %}
    <div class="alert alert-info" role="alert">
    {{ unlisted }}
    </div>
    {% endif %}

<form method="post">
    <div class="mb-3">
        <label for="election_stand_manifesto" class="form-label">Manifesto</label>
        <textarea class="form-control" id="election_stand_manifesto" rows="3" name="manifesto" {% if manifesto %}readonly{% endif %}>{% if manifesto %}{{ manifesto }}{% endif %}</textarea>
      </div>
      <div class="mb-3">
        <label for="election_stand_password" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="election_stand_password" name="password">
    </div>
    {% if manifesto %}
    <button type="submit" class="btn btn-primary" name="submit">Unlist</button>
    {% else %}
    <button type="submit" class="btn btn-primary" name="submit">Enlist</button>
    {% endif %}
</form>

</div>
{% endblock %}


{% block below_body %}
{% endblock %}